.modal-content{
    font-size: 20px;
    padding-top: 15vh;
    color: white;
    background-color: rgba(255, 255, 255, 0.0);
}
.modal-content h2{
    color: white;
    padding-left: 100px;
}
.content-li{
    padding: 10px;
    /* font-size: 10px !important; */
}

#modal-full{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
#modal-full h1{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.card-text{
    font-size: 20px;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.overlay{
    position: absolute;
    height: 100vh;
    display: none;
}

.blue {
  background: #2b96f3f3;
  background-color: #2b96f3f3;
  color: white;
}
.blue:hover {
  background: #2b97f3 !important;
}

.orange {
  background: #f18e2be8;
  color: white;
}

.orange:hover {
  background: #f09133 !important;
}
.darkblue {
  background: #0962aaee;
  color: white;
}
.darkblue:hover {
  background: #0961aa !important;
}

.red {
  background: rgba(248, 56, 56, 0.863);
  color: white;
}

.red:hover {
  background: rgb(243, 60, 60) !important;
}

.green {
  background: #8bc34aee;
  color: white;
}
.green:hover {
  background: #8bc34a !important;
}

.blackglass {
  background: #000000;
  color: white;
}

.blackglass:hover {
  background: #000000 !important;
}

.purple {
  background: #6300eee8;
  color: white;
}

.purple:hover {
  background: #6200ee !important;
}
